* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logo-banner {
  background-color: #111;
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.logo-banner::before,
.logo-banner::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logo-banner::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #111);
}
.logo-banner::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #111);
}

.logo-banner:hover .logo-list {
  animation-play-state: paused;
}

.logo-list {
  display: inline-flex;
  animation: 35s slide infinite linear;
}

.logo-list span {
  height: 50px;
  margin: 0 40px;
}
